body{
    background-image: linear-gradient(rgba(217,217,217,1), rgba(255,0,0,0));
}
.navbar{
    border-bottom: 2px solid #0084ff;
}
.noBorder{
    border-top: 1px dashed #ccc;
}
.headline{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    border-left: 1px solid #bbb;
    background-color: #eee;
    padding: 10px;
    border-radius: 12px;
    vertical-align: middle;
    /* display: inline-flex; */

}
.sub-headline-custom-1{
    /* border-bottom: 1px dashed #ccc; */
}
.row{
    /* border-bottom: 1px solid #ccc; */
}
.col-12{
    margin: 8px 0 8px 0;
}
.clearLine{
    border-bottom: 1px solid #ccc;
}
.imgM{
    margin: 6px;
    margin-bottom: 8px;
}